
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lobster';
	/*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000; */
	color: white;
}

body {
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#content {
	float: left;
	font-size: 2em;
	bottom: 0.8125em;
	left: 0.8125em;
	position: absolute;
	display: inline-block;
}

img {
	width: 100%;
	position: absolute;
	top:-45%;
}

#link {
	font-size: 1.5em;
	bottom: 0.2em;
	left: 0.2em;
	float: left;
	position: absolute;
	text-decoration: none;
	color: white;
}

#link:hover {
	transition: color 0.5s ease;
	color: #212B35;
}

#black-screen {
	background-color: black;
	width: 100%;
	height: 100%;
}

#time {
	position: absolute;
	bottom: 0.6125em;
	right: 0.8125em;
	font-size: 4em;
}